@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Poppins:ital,wght@1,200;1,300&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 
}
a{
  text-decoration: none;
}
.sidenav {
  height: 50%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 55px;
 
  left: 20px;
  backdrop-filter: blur(15px);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 10px;
}

.sidenav a {
  padding:  25px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #080000;
}

.sidenav .closebtn {
  position: absolute;
  display: flex;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 550px;
  color:white;
}


.gap1{
    display: inline-block;
    padding: 15px;
    text-align: left;
    user-select: none;
    color: white;
    font-size: 20px; 
    margin-left: 30px;
}
.gap2{
    padding: 15px;
    text-align: left;
    user-select: none;
    color: white;
}
.total{
  display:flex;
  background-color: black;
}
.line{
  background-color: #080000;
}
h1{
 

  text-align: center;
  color:white;
}
p{
  font-size:22px;
  text-align:center;
  color: white;

}
button{
  font-size:15px;
  text-align:center;
  align-items: center;
  
}
.hide{
  margin-left:540px;
  margin-top: 8px;
}

.background-image{
  background: url("https://a-static.besthdwallpaper.com/excavator-at-construction-site-with-yellow-color-on-black-and-white-cloudy-background-wallpaper-1920x1080-94576_48.jpg");
  width:100%;
  height:100vh;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
}
.inner-back-text{
  position:absolute;
  top:60%;
  left:50%;
  transform:translate(-50%, -50%);
  width: 82%;
}

.tag-lines h1,.tag-lines p{
  
  text-shadow: .1em .1em 0 rgba(203, 150, 16, 0.303);
}




.first,.second{
  padding:10px 15px;
  background:rgb(203, 150, 16)  !important;
  border-radius:12px;
  color:black;
  font-size:15px;
  text-align: center;
}

.button-inner{
  display: flex;
  justify-content: space-around;
  /* padding: 50px; */
  gap: 1% 1%;
  row-gap: 10px;
  width: 100%;
  flex-wrap: wrap;
}

.button-inner a:hover{
  background-color: black;
  color: white;
}
h6{
  font-size: 40px;
  text-align: center;
  align-items: center;
  font-family: Montserrat;
  font-weight: lighter;
  margin-bottom: 40px;
  margin-top: 60px;
}

article {
  --img-scale: 1.001;
  --title-color: black;
  --link-icon-translate: -20px;
  --link-icon-opacity: 0;
  position: relative;
  border-radius: 16px;
  box-shadow: none;
  background: #fff;
  transform-origin: center;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
  
  
}

article a::after {
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  cursor: pointer;
  content: "";
}


article h2 {
  margin: 0 0 18px 0;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: normal;
  

  transition: color 0.3s ease-out;
}

figure {
  margin: 0;
  padding: 0;
 
  overflow: hidden;
}

h3{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;
  font-size: 15px;
  color: grey;
 
}

.border{
  margin-top: -25px;
}
article img {
  max-width: 100%;
  transform-origin: center;
  transform: scale(var(--img-scale));
  transition: transform 0.4s ease-in-out;
}

.article-body {
  padding: 24px;

}


article a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
 
}



article a .icon {
  min-width: 24px;
  width: 24px;
  height: 24px;
  margin-left: 5px;
  transform: translateX(var(--link-icon-translate));
  opacity: var(--link-icon-opacity);
  transition: all 0.3s;
}


article:has(:hover, :focus) {
  --img-scale: 1.1;

  --link-icon-translate: 0;
  --link-icon-opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}


.border1{
  text-align: center;
  align-items: center;
  font-size: 15px;
  font-weight:normal;
  font-family:Verdana, Geneva, Tahoma, sans-serif ;
  margin-block-start: -35px;
 
  color:gray;
}



.articles {

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3%;
  row-gap: 50px;
  max-width: 100%;
}

article{
  width: 400px;
  margin: auto 20px;
}
@media screen and (max-width: 560px) {
  article {
    container: card/inline-size;
  }
  .article-body p {
    display: none;
  }
}



.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

.chose-us{
  padding: 50px;
  background-color:aliceblue;
  margin-bottom: 40px;
  margin-top: 40px;
}
.chose-us h1{
  color: black;
  font-size: 40px;
  text-align: center;
  padding: 20px 10px;
}
.chose-us h1 span{
  color: black;
}
.chose-text{
  color: black;
  font-size: 1.5rem;
  padding: 10px 100px;
  text-align: center;
  margin-bottom: 25px;
}
.main-chose{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  text-align: center;
}
.inner-chose{
  flex: 1 1 200px;
}
.icon{
  width: 50px;
  margin-top: 30px;
}


.inner-chose h2{
  font-size: 25px;
  padding: 10px 0;
  font-family: Montserrat;

}
.inner-chose p{
  font-size: 15px;
  padding: 0 10px;
  color:black;
  margin-block-start: -25px;
  color:grey;

}


.chose-us1{
  padding: 10px;
  background-color:rgb(71, 71, 74);
  margin-bottom: 40px;
  margin-top: 40px;
}
.chose-us1 h1{
  color: black;
  font-size: 40px;
  text-align: center;
  padding: 20px 10px;
}
.chose-us1 h1 span{
  color: black;
}
.chose-text1{
  color: black;
  font-size: 1.5rem;
  padding: 10px 100px;
  text-align: center;
  margin-bottom: 25px;
}
.main-chose1{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  text-align: center;
}
.inner-chose1{
  flex: 1 1 200px;
}
.icon1{
  width: 50px;
  margin-top: 30px;
}


.inner-chose1 h2{
  font-size: 25px;
  padding:0;
  font-family: fantasy;
  color: #fff;
  font-size: 48px;
  font-weight: 200;
  margin-top: 8px;

}

.inside{
  margin-bottom: -5px;
}

.inner-chose1 p{
  font-size: 15px;
  padding: 0 10px;
  
  margin-block-start: -25px;
  color:grey;

}



.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}


.grid{
  font-family:'Times New Roman', Times, serif;
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.row{
  width: 100%;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(2,1fr);

}

.left{
  
  text-align: center;
  align-items: center;
}


.image{
  margin-top: 20px;
  height: auto;
  width: 50%; 
}




.row .right{
  padding-right: 30px;
  padding-left: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}



.row .right .con p{
  margin-top: 50px;
  font-size: 18px;
  line-height: 25px;
 
  text-align: justify;
  color: grey;
}

@media (max-width:991px){
  .row .right .con{
    padding-left:0 ;
  }
  
  
}

@media (max-width:768px){
  .row{
    width: 90%;
    
    grid-template-columns: 1fr;
    
  }
  .image{
    width: 90%;
  }
}

.border3{
  margin-top: -2px;
}

.border4{
  text-align: center;
  align-items: center;
  font-size: 15px;
  font-weight:normal;
  font-family:Verdana, Geneva, Tahoma, sans-serif ;
  margin-block-start: -35px;
 
  color:gray;
}

.border2{
  text-align: center;
  align-items: center;
  font-size: 17px;
  font-weight:normal;
  font-family:Verdana, Geneva, Tahoma, sans-serif ;
  margin-block-start: -35px;
  margin-top: 40px;
  color:gray;
  grid-template-columns: 1fr;
  text-align: justify;
  padding-right: 5px;
  padding-left: 5px;
  line-height: 22px;
 
}


.full{
  padding: 50px;
  background-color:aliceblue;
  margin-bottom: 40px;
  margin-top: 40px;
}











.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}


.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: lighter;
  color: #ffffff;
  font-family:Verdana, Geneva, Tahoma, sans-serif ;

}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}

.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
 
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
  
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 5px;
  transition:all .25s;
}

.footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}

.footer-distributed p.footer-links a:hover{text-decoration:underline;}



@media (max-width: 600px) {
  .footer-distributed .footer-left, .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}




@media screen and (max-width: 1050px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  .hide{
    display: none;
    
  }
  
}

* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, sans-serif; 
  margin:0;
}

img {
  vertical-align: middle;
}


.slideshow-container {
  max-width: 1000px;
  position:relative;
  margin: auto;

}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color: rgba(242, 233, 233, 0.8);
}


.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}



.border11{
  text-align: center;
  align-items: center;
  font-size: 15px;
  font-weight:normal;
  font-family:Verdana, Geneva, Tahoma, sans-serif ;
  margin-block-start: -35px;
 margin-bottom: 50px;
  color:gray;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}



